@import "./styleguide.css";

.header {
  padding: 16px;
  background-color: var(--common-white);
}

.header-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  column-gap: 8px;
}

.logo {
  display: block;
  width: 24px;
  height: 24px;
}

.label {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
  font-family: var(--common-font);
  line-height: 40px;
  letter-spacing: 0.5px;
}

.main {
  padding-bottom: 96px;
  background-color: var(--common-white);
}

.container {
  max-width: 1128px;
  margin: auto;
  padding: 0 16px;
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;  
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .post:first-child {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
}

.post > a {
  position: relative;
  color: var(--common-white);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  border-radius: 0px 0px 16px 16px;
  background-color: rgba(18, 18, 22, 0.5);
}

@media (min-width: 1440px) {
  .overlay {
    padding: 24px 48px;
  }
}

.longread {
  display: grid;
  gap: 96px;
}

@media (min-width: 1440px) {
  .longread {
  grid-template-areas: 
  "blog blog socials"
  "blog blog socials"
  "blog blog video"
  "blog blog .";
  gap: 60px 24px;
  }

  .blog {
    grid-area: blog;
  }

  .socials {
    grid-area: socials;
  }

  .video {
    grid-area: video;
  }
}

.blog {
  display: grid;
  gap: 48px;
}

.blog-link {
  display: grid;
  gap: 20px;
  color: var(--common-black);
}

@media (min-width: 768px) {
  .blog {
    gap: 36px;    
  }
  
  .blog-link {
    grid-template-columns: 264px 1fr;
    gap: 24px;
  }
}

.post-title {
  color: var(--common-white);
  font-family: var(--common-font);
}

.blog-title {
  margin-bottom: 12px;
  color: var(--grey, #2c2c2c);
  font-family: var(--common-font);
}

.blog-text {
  color: var(--grey, #2c2c2c);
  font-size: 16px;
  font-family: var(--common-font);
  line-height: 24px;
  letter-spacing: 0.5px;
}

.socials-title {
  margin-bottom: 24px;
  color: var(--grey, #2c2c2c);
  font-family: var(--common-font);
}

.socials-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 8px;
}

@media (min-width: 768px) {
  .socials-list {
    gap: 24px;    
  }
}

.social-link {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  justify-items: center;
  padding: 8px;
  border-radius: 16px;
  color: var(--common-black, #2f2f37);
  font-size: 16px;
  font-family: var(--common-font);
  line-height: 24px;
  letter-spacing: 0.5px;
}



.socials-item:nth-child(1) .social-link {
  background-color: var(--navy);
}

.socials-item:nth-child(2) .social-link {
  background-color: var(--pink);
}

.socials-item:nth-child(3) .social-link {
  background-color: var(--scarlet);
}

.socials-item:nth-child(4) .social-link {
  background-color: var(--turquoise);
}

.socials-item:nth-child(5) .social-link {
  background-color: var(--yellow);
}

.socials-item:nth-child(6) .social-link {
  background-color: var(--lilac);
}

.video-title {
  color: var(--grey, #2c2c2c);
  font-family: var(--common-font);
}

.footer {
  padding: 16px;
  background-color: var(--blue-light);
}

.footer-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  column-gap: 8px;
}